<div class="form-container">
    <form [formGroup]="noteForm" (ngSubmit)="onSubmit()">
        <div class="field">
            <label class="label">Title</label>
            <div class="control">
                <input type="text" formControlName="title" required class="input theme-light"
                    [ngClass]="{'is-invalid': noteForm.get('title')?.invalid && noteForm.get('title')?.touched}">
            </div>
            <p class="help is-danger" *ngIf="noteForm.get('title')?.invalid && noteForm.get('title')?.touched">
                Title is required.
            </p>
        </div>

        <div class="field">
            <label class="label">Body</label>
            <div class="control">
                <textarea formControlName="body" class="textarea theme-light"></textarea>
            </div>
        </div>
        <div class="field is-grouped is-pulled-right">
            <div class="control">
                <button type="button" (click)="onCancel()"
                    class="theme-light button cancel-button is-text">Cancel</button>
            </div>
            <div class="control">
                <button type="submit" [disabled]="noteForm.invalid" class="theme-light button save-button is-success">Save</button>
            </div>
        </div>
    </form>
</div>