.form-container {
    padding-top: 50px;
    max-width: 500px;
    margin: auto;

    .field {
        padding-top: 20px;
    }

    .input.is-invalid,
    .textarea.is-invalid {
        border-color: #ff3860;
        box-shadow: none;
    }

    .help.is-danger {
        color: #ff3860;
    }
}

.label {
    color: black;
}


.button {
    padding-top: 10px;
    padding-bottom: 10px;
}

.cancel-button {
    border-radius: 5px;
    color: black;
    text-decoration: none;
}

.save-button {
    border-radius: 5px;
    color: white;
}