<div #container class="note-card-container">
    <div class="note-card-content">
        <div class="note-card-header">
            <h1 class="note-card-title" *ngIf="!isEditing">{{ title }}</h1>

            <div class="button-container">
                <div (click)="onDelete()" class="x-button"></div>
                <div (click)="onEdit(noteId)" class="edit-button"></div>
            </div>
        </div>
        <div appEllipsis [lines]="2" class="note-card-body">
            <p>{{ body }}</p>
        </div>
    </div>
</div>


<!-- Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.
            Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.
            Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.-->