<div #container class="note-card-container">
    <div class="note-card-content">
        <div class="note-card-header">
            <h1 class="note-card-title">Example</h1>

            <div class="button-container">
                <div class="x-button"></div>
                <div class="edit-button"></div>
            </div>
        </div>
        <div appEllipsis [lines]="2" class="note-card-body">
            Lorem ipsum. Lorem ipsum. Lorem ipsum.
            Lorem ipsum. Lorem ipsum. Lorem ipsum.
            Lorem ipsum. Lorem ipsum. Lorem ipsum.
        </div>
    </div>

</div>